In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

# Imports and feature selection

In [96]:
# using docs to model
# labels come from claims data 
claims = pd.read_csv('/Users/drewrice/Desktop/capson_csv/Claims.csv')
docs = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ProviderInfo.csv')
prems = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ScheduleOfWrittenPremium.csv')
debs_and_creds = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ScheduleOfDebitsAndCredits.csv')

In [97]:
# drop
docs.drop(['Middle Name','Address 1', 'Address 2', 'Zip','Address Type','Practice Start Date'],axis=1,inplace=True)
docs.drop_duplicates(inplace=True)

In [98]:
indem = claims[['Indemnity_Paid','ProviderId']]

In [99]:
# docs DF, conversion to string
# lower ProviderId
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']] = \
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']].astype(str)
docs['ProviderId'] = docs['ProviderId'].map(lambda x: x if type(x)!=str else x.lower())

In [100]:
# indem DF, conversions to string and float
# lower ProviderId
indem['Indemnity_Paid'] = indem['Indemnity_Paid'].str.replace(r'[$,]', '').astype('float')
indem['ProviderId'] = indem['ProviderId'].astype(str)
indem['ProviderId'] = indem['ProviderId'].str.lower()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Join docs and indemnity tables

In [101]:
joined = pd.merge(docs, indem, how='outer', on='ProviderId')
joined.drop_duplicates(inplace=True)

# Claims data
#### building classifiers for BoardCredit and ClaimsBand, then merging with joined

In [103]:
# resave debs_and_creds with just the desired columns
debs_and_creds = debs_and_creds[['ProviderId','BoardCredit','ClaimsBand']]

# lower Provider Id
# reset index required
debs_and_creds['ProviderId'] = debs_and_creds['ProviderId'].map(lambda x: x if type(x)!=str else x.lower())
debs_and_creds.tail()

                                ProviderId  BoardCredit  ClaimsBand
8458  19d9c4e6-e820-41c4-b398-134e6c0ba410          -55        -220
8459  6398eeea-10af-448f-bd10-364be1d0c90c            0       -8951
8460  d54c0b59-08e5-4ed7-ba5a-413b2016b269        -1366           0
8461  3eacedf6-9173-4a64-89c7-ba8b6e150850          -88           0
8462  ea83f592-67dd-46d5-b15c-9d0738f81c93            0        -258

In [104]:
# group by Provider ID, resave debs_and_creds
debs_and_creds = debs_and_creds.groupby(debs_and_creds['ProviderId']).sum()
debs_and_creds.reset_index(inplace=True)

In [105]:
def build_classifier(item):
    if item == 0:
        return 0
    if item != 0:
        return 1

In [106]:
# use build_classifier to create binary column from BoardCredit & ClaimsBand
debs_and_creds['board_cert'] = debs_and_creds['BoardCredit'].apply(lambda item: build_classifier(item))
debs_and_creds['claims_band'] = debs_and_creds['ClaimsBand'].apply(lambda item: build_classifier(item))

In [107]:
joined = pd.merge(joined, debs_and_creds[['ProviderId','board_cert', 'claims_band']], how='outer', on='ProviderId')

# EDA

In [111]:
joined[joined['Indemnity_Paid'] > 0].sort(['Last Name'])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,ProviderId,Last Name,First Name,Gender,Date of Birth,City,State,County,Indemnity_Paid,board_cert,claims_band
78,1c50184d-410a-4c07-b6a0-48b27c0456da,Akins,James,Male,11/7/66,Scott Depot,WV,PUTNAM,199999.99,0.0,0.0
97,1cf4827a-fc9b-410a-8923-c2b19e9f8905,Alexander,Ian,Male,9/11/74,Los Alamos,NM,LOS ALAMOS,125000.00,1.0,0.0
135,fef26456-6759-4573-a69d-70482e29cea1,Alva,Brick,Male,10/13/70,Houston,TX,HARRIS,90000.00,1.0,1.0
379,80f8200e-12a4-4bec-b531-22b4f4fc2e4e,Ancillary,MidLevel,Male,NaN,Marlin,TX,FALLS,22000.00,NaN,NaN
2025,53294bf4-9f2d-4e7e-b44e-e34e7ac89cbd,Balder,Donald,Male,8/1/63,Covington,LA,HARRISON,850000.00,1.0,1.0
2057,7590e9fa-b86c-40eb-add1-5cab8cf7c98d,Barnes,Bryan,Male,4/5/70,Joplin,MO,NEWTON,180000.00,1.0,1.0
2058,7590e9fa-b86c-40eb-add1-5cab8cf7c98d,Barnes,Bryan,Male,4/5/70,Joplin,MO,NEWTON,195000.00,1.0,1.0
2198,3bbdfc67-dccc-4a69-81c0-8d98fdd6ddca,Blount,Robin,Unknown,10/22/57,Columbia,MO,BOONE,150000.00,1.0,1.0
2245,4aad012f-421b-4324-9fb1-ab95b2930c48,Boveri,Stephen,Unknown,1/29/63,Fenton,MO,SAINT LOUIS,395000.00,1.0,1.0
2255,d06b0d68-8cab-4e90-9f37-8b9751b9d1aa,Bowne,David,Male,7/25/63,nan,nan,nan,675000.00,1.0,1.0
2332,899dbf67-1ee4-4fa5-9138-1b6e3c57aec0,Brown,Richard,Male,7/2/47,Tomball,TX,HARRIS,145000.00,1.0,1.0
2370,00fd9b2b-e563-4c9d-ad77-9bab44785ef2,Burdick,Theresa,Unknown,2/21/50,nan,nan,nan,1000000.00,0.0,1.0
2546,f772e18f-3020-4c6d-a87e-64ab89ed3496,Clement,Robert,Unknown,11/4/39,Austin,TX,TRAVIS,110000.00,1.0,1.0
2633,2649262f-e43b-4d55-8646-ddfa3060a268,Crowder,Janice,Unknown,8/10/58,Nassau Bay,TX,HARRIS,125000.00,1.0,1.0
2780,6a879871-af59-41e3-aa42-5007baa6eaf2,Dharma,Kalamani,Unknown,NaN,Dallas,TX,DALLAS,13126.50,0.0,0.0
2825,11eed93a-b5a9-4733-9902-4012fc7ebac0,Donnell,James,Unknown,11/7/54,Houma,LA,TERREBONNE,80000.00,1.0,0.0
3181,dd25efe9-550f-4400-9a1f-ef7c91a4c4ec,Ghei,Puneet,Male,10/12/66,nan,nan,nan,184317.43,1.0,1.0
3260,c6ff9228-89bf-43e6-9d8b-29901fa8036c,Gordon,Stephen,Unknown,5/3/51,Las Vegas,NV,CLARK,699000.00,1.0,1.0
3362,f84f04bf-b5a8-4ad3-a209-616a02f0f73d,Gutierrez,Daniel,Male,4/21/63,San Antonio,TX,BEXAR,101500.00,1.0,1.0
3432,b824a1e0-1dc6-4884-8aab-a7e9aa428284,Harkins,Michael,Male,2/28/60,Tomball,TX,HARRIS,125000.00,1.0,1.0
3513,8a83d0a2-0416-4e3e-9802-3c06367a799e,Henderson,Brett,Unknown,1/10/67,Las Cruces,NM,DONA ANA,99000.00,1.0,0.0
3599,efb2db7b-1979-42a8-b48b-4b73af498477,Horsley,Stephen,Male,8/16/73,Las Vegas,NV,CLARK,23750.00,1.0,1.0
3660,f1b3c1c4-39fb-45b6-84c3-5b2ab1d0e2e1,Ihde,Glenn,Unknown,6/5/66,nan,nan,nan,192191.13,1.0,1.0
3744,a74b2a85-5b3b-438f-97d1-8a3fd65487f8,Jessup,Michael,Unknown,1/18/62,Cape Girardeau,MO,CAPE GIRARDEAU,110000.00,0.0,1.0
3852,0b1268b3-4e36-4a96-8ac3-7471499487aa,Kaufmann,Robert,Male,12/13/57,Fort Worth,TX,TARRANT,110000.00,1.0,1.0
3863,94a57384-1c0d-4e4a-b915-c6a6a9344f5e,Keepers,Jerry,Unknown,8/11/53,Friendswood,TX,GALVESTON,150000.00,0.0,0.0
4116,5c371144-9be8-4566-82c3-e4aa23a50435,Lester,David,Unknown,9/20/51,Muskogee,OK,MUSKOGEE,150000.00,1.0,1.0
4571,09f4634b-2731-4eeb-b1b6-571863a26d8d,Moore,R,Unknown,3/4/51,Bellaire,TX,HARRIS,500000.00,0.0,0.0
4937,27009a82-c7d3-4318-9e68-d5f955dd57de,Parker,Larry,Unknown,7/23/59,nan,nan,nan,140000.00,1.0,1.0
5028,34fc5904-b5a3-478e-8954-2cd68f856951,Perl,Karen,Unknown,3/20/71,Fort Worth,TX,TARRANT,294946.64,1.0,1.0
5035,b53c1fbb-ef81-49af-a4e7-f2c33f2c277d,Persson,Perjohan,Male,2/12/75,Lebanon,KY,MARION,250000.00,0.0,1.0
5210,d435617f-db5e-4b1a-b023-b4a3beabec08,Raphael,Peter,Unknown,8/17/58,Plano,TX,COLLIN,160000.00,0.0,0.0
5708,adcea476-b9a4-4818-ad75-f0fa4b50f20b,Snure,Richard,Unknown,7/1/74,Silver City,NM,GRANT,100000.00,1.0,1.0
5795,36e33f6c-4039-4ea5-b7e3-63a2de3ec732,Stimage,Rachenetta,Female,9/1/71,Carrollton,TX,DENTON,200000.00,1.0,1.0
5887,41ca3a75-33c9-427b-b66d-f4ab3cb05c85,Tarrant,Lawrence,Unknown,3/10/39,Parkersburg,WV,WOOD,7500.00,1.0,1.0
6156,be0ae42f-7869-4f0b-8b97-626fbb77e84d,Walden,Nikki,Female,8/3/71,Dallas,TX,DALLAS,200000.00,1.0,1.0
6207,90df2745-c07b-48c6-9aa3-51bf443fc13c,Weaver,Robert,Male,1/8/61,Farmington,NM,SAN JUAN,42500.00,1.0,1.0
6250,ca1bc4f1-3602-40df-8b81-afd09b3deb71,Whisenant,Stanley,Male,9/22/65,Rowlett,TX,DALLAS,25000.00,1.0,1.0
6289,647d9c30-9e73-41dd-8c43-a542d39dc5ba,Williams,Joseph,Unknown,7/1/42,Saint Louis,MO,SAINT LOUIS,80000.00,1.0,0.0
6324,5e5458d6-b22a-440b-9554-2b3ab6bdf5d9,Wilson,Richard,Male,2/28/54,Oklahoma City,OK,OKLAHOMA,125000.00,1.0,1.0
6333,b87d9972-73fa-4d69-9b9c-af9c34ee1233,Wise,Jean,Unknown,3/6/45,Hope,AR,HEMPSTEAD,70000.00,0.0,0.0
6396,b9448cda-9bda-4a91-adc1-2eca9d639195,Yates,LeRoy,Unknown,5/10/55,Bettendorf,IA,SCOTT,60000.00,1.0,1.0
6471,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125000.00,NaN,NaN
6472,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150000.00,NaN,NaN
6473,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95000.00,NaN,NaN
6474,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7500.00,NaN,NaN
6475,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175000.00,NaN,NaN
6476,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180000.00,NaN,NaN
6477,4da6317d-a891-4b35-8b26-e11c4a9723ea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125000.00,1.0,1.0

# Feature engineering

In [10]:
# build age column
joined['Date of Birth'] = pd.to_datetime(joined['Date of Birth'])

In [11]:
# time_delta function
def time_delta(dt):
    if dt.year > 2000:
        dt = dt - timedelta(days=36525)
    return dt

In [12]:
# apply time_delta function to DoB column, deal with datetime rounding to the 2000s
joined['Date of Birth'] = joined['Date of Birth'].apply(lambda dt: time_delta(dt))

In [13]:
# fill missing values with 1/1/2060
joined['Date of Birth'].fillna(datetime(2060, 1, 1, 0, 0),inplace=True)

In [14]:
# build age column
now = datetime.now()
joined['age'] = now - joined['Date of Birth']

In [16]:
def to_years(dt):
    if dt:
        dt = int(dt.strftime("%y"))
    return dt

In [17]:
# TODO: convert days to years in joined['age']
# TODO: drop 1/1/2060 instances
joined['age'] = joined['age'].apply(lambda dt: to_years(dt))

AttributeError: 'Timedelta' object has no attribute 'strftime'