In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

# Imports and feature selection

In [231]:
# using docs to model
# labels come from claims data 
claims = pd.read_csv('/Users/drewrice/Desktop/capson_csv/Claims.csv')
docs = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ProviderInfo.csv')
prems = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ScheduleOfWrittenPremium.csv')
debs_and_creds = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ScheduleOfDebitsAndCredits.csv')

In [232]:
# drop
docs.drop(['Middle Name','Address 1', 'Address 2', 'Zip','Address Type','Practice Start Date'],axis=1,inplace=True)
docs.drop_duplicates(inplace=True)

In [233]:
indem = claims[['Indemnity_Paid','ProviderId']]

In [234]:
# docs DF, conversion to string
# lower ProviderId
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']] = \
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']].astype(str)
docs['ProviderId'] = docs['ProviderId'].map(lambda x: x if type(x)!=str else x.lower())

In [235]:
# indem DF, conversions to string and float
# lower ProviderId
indem['Indemnity_Paid'] = indem['Indemnity_Paid'].str.replace(r'[$,]', '').astype('float')
indem['ProviderId'] = indem['ProviderId'].astype(str)
indem['ProviderId'] = indem['ProviderId'].str.lower()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [236]:
def build_classifier_label(item):
    if item == 0:
        return 'suit, no indem'
    if item != 0:
        return 'suit, indem'

In [237]:
indem['indem_label'] = indem['Indemnity_Paid'].apply(lambda item: build_classifier_label(item))

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

# Join docs and indemnity tables, fill NaNs with 'no suit'

In [238]:
joined = pd.merge(docs, indem[['ProviderId', 'indem_label']], how='outer', on='ProviderId')
joined.drop_duplicates(inplace=True)

In [239]:
# finish indemnity classifier
# find NaNs in indem_label column, replace with 'no suit'
def indem_label_no_suit(x):
    if type(x) == float: 
        if np.isnan(x): 
            return 'no suit'
    else:
        return x

In [240]:
joined.indem_label = joined.indem_label.apply(lambda item: indem_label_no_suit(item))

# Claims data
#### building classifiers for BoardCredit and ClaimsBand, then merging with joined

In [241]:
def build_classifier(item):
    if item == 0:
        return 0
    if item != 0:
        return 1

In [242]:
# resave debs_and_creds with just the desired columns
debs_and_creds = debs_and_creds[['ProviderId','BoardCredit','ClaimsBand']]

# lower Provider Id
# reset index required
debs_and_creds['ProviderId'] = debs_and_creds['ProviderId'].map(lambda x: x if type(x)!=str else x.lower())
debs_and_creds.tail()

                                ProviderId  BoardCredit  ClaimsBand
8458  19d9c4e6-e820-41c4-b398-134e6c0ba410          -55        -220
8459  6398eeea-10af-448f-bd10-364be1d0c90c            0       -8951
8460  d54c0b59-08e5-4ed7-ba5a-413b2016b269        -1366           0
8461  3eacedf6-9173-4a64-89c7-ba8b6e150850          -88           0
8462  ea83f592-67dd-46d5-b15c-9d0738f81c93            0        -258

In [243]:
# group by Provider ID, resave debs_and_creds
debs_and_creds = debs_and_creds.groupby(debs_and_creds['ProviderId']).sum()
debs_and_creds.reset_index(inplace=True)

In [244]:
# use build_classifier to create binary column from BoardCredit & ClaimsBand
debs_and_creds['board_cert'] = debs_and_creds['BoardCredit'].apply(lambda item: build_classifier(item))
debs_and_creds['claims_band'] = debs_and_creds['ClaimsBand'].apply(lambda item: build_classifier(item))

In [245]:
joined = pd.merge(joined, debs_and_creds[['ProviderId','board_cert', 'claims_band']], how='outer', on='ProviderId')

# EDA

In [247]:
joined[joined['indem_label'] == 'suit, indem'].sort(['Last Name'])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,ProviderId,Last Name,First Name,Gender,Date of Birth,City,State,County,indem_label,board_cert,claims_band
78,1c50184d-410a-4c07-b6a0-48b27c0456da,Akins,James,Male,11/7/66,Scott Depot,WV,PUTNAM,"suit, indem",0.0,0.0
97,1cf4827a-fc9b-410a-8923-c2b19e9f8905,Alexander,Ian,Male,9/11/74,Los Alamos,NM,LOS ALAMOS,"suit, indem",1.0,0.0
135,fef26456-6759-4573-a69d-70482e29cea1,Alva,Brick,Male,10/13/70,Houston,TX,HARRIS,"suit, indem",1.0,1.0
379,80f8200e-12a4-4bec-b531-22b4f4fc2e4e,Ancillary,MidLevel,Male,NaN,Marlin,TX,FALLS,"suit, indem",NaN,NaN
2025,53294bf4-9f2d-4e7e-b44e-e34e7ac89cbd,Balder,Donald,Male,8/1/63,Covington,LA,HARRISON,"suit, indem",1.0,1.0
2057,7590e9fa-b86c-40eb-add1-5cab8cf7c98d,Barnes,Bryan,Male,4/5/70,Joplin,MO,NEWTON,"suit, indem",1.0,1.0
2197,3bbdfc67-dccc-4a69-81c0-8d98fdd6ddca,Blount,Robin,Unknown,10/22/57,Columbia,MO,BOONE,"suit, indem",1.0,1.0
2244,4aad012f-421b-4324-9fb1-ab95b2930c48,Boveri,Stephen,Unknown,1/29/63,Fenton,MO,SAINT LOUIS,"suit, indem",1.0,1.0
2254,d06b0d68-8cab-4e90-9f37-8b9751b9d1aa,Bowne,David,Male,7/25/63,nan,nan,nan,"suit, indem",1.0,1.0
2331,899dbf67-1ee4-4fa5-9138-1b6e3c57aec0,Brown,Richard,Male,7/2/47,Tomball,TX,HARRIS,"suit, indem",1.0,1.0
2369,00fd9b2b-e563-4c9d-ad77-9bab44785ef2,Burdick,Theresa,Unknown,2/21/50,nan,nan,nan,"suit, indem",0.0,1.0
2545,f772e18f-3020-4c6d-a87e-64ab89ed3496,Clement,Robert,Unknown,11/4/39,Austin,TX,TRAVIS,"suit, indem",1.0,1.0
2632,2649262f-e43b-4d55-8646-ddfa3060a268,Crowder,Janice,Unknown,8/10/58,Nassau Bay,TX,HARRIS,"suit, indem",1.0,1.0
2779,6a879871-af59-41e3-aa42-5007baa6eaf2,Dharma,Kalamani,Unknown,NaN,Dallas,TX,DALLAS,"suit, indem",0.0,0.0
2824,11eed93a-b5a9-4733-9902-4012fc7ebac0,Donnell,James,Unknown,11/7/54,Houma,LA,TERREBONNE,"suit, indem",1.0,0.0
3180,dd25efe9-550f-4400-9a1f-ef7c91a4c4ec,Ghei,Puneet,Male,10/12/66,nan,nan,nan,"suit, indem",1.0,1.0
3259,c6ff9228-89bf-43e6-9d8b-29901fa8036c,Gordon,Stephen,Unknown,5/3/51,Las Vegas,NV,CLARK,"suit, indem",1.0,1.0
3361,f84f04bf-b5a8-4ad3-a209-616a02f0f73d,Gutierrez,Daniel,Male,4/21/63,San Antonio,TX,BEXAR,"suit, indem",1.0,1.0
3431,b824a1e0-1dc6-4884-8aab-a7e9aa428284,Harkins,Michael,Male,2/28/60,Tomball,TX,HARRIS,"suit, indem",1.0,1.0
3512,8a83d0a2-0416-4e3e-9802-3c06367a799e,Henderson,Brett,Unknown,1/10/67,Las Cruces,NM,DONA ANA,"suit, indem",1.0,0.0
3598,efb2db7b-1979-42a8-b48b-4b73af498477,Horsley,Stephen,Male,8/16/73,Las Vegas,NV,CLARK,"suit, indem",1.0,1.0
3659,f1b3c1c4-39fb-45b6-84c3-5b2ab1d0e2e1,Ihde,Glenn,Unknown,6/5/66,nan,nan,nan,"suit, indem",1.0,1.0
3743,a74b2a85-5b3b-438f-97d1-8a3fd65487f8,Jessup,Michael,Unknown,1/18/62,Cape Girardeau,MO,CAPE GIRARDEAU,"suit, indem",0.0,1.0
3851,0b1268b3-4e36-4a96-8ac3-7471499487aa,Kaufmann,Robert,Male,12/13/57,Fort Worth,TX,TARRANT,"suit, indem",1.0,1.0
3862,94a57384-1c0d-4e4a-b915-c6a6a9344f5e,Keepers,Jerry,Unknown,8/11/53,Friendswood,TX,GALVESTON,"suit, indem",0.0,0.0
4115,5c371144-9be8-4566-82c3-e4aa23a50435,Lester,David,Unknown,9/20/51,Muskogee,OK,MUSKOGEE,"suit, indem",1.0,1.0
4570,09f4634b-2731-4eeb-b1b6-571863a26d8d,Moore,R,Unknown,3/4/51,Bellaire,TX,HARRIS,"suit, indem",0.0,0.0
4936,27009a82-c7d3-4318-9e68-d5f955dd57de,Parker,Larry,Unknown,7/23/59,nan,nan,nan,"suit, indem",1.0,1.0
5027,34fc5904-b5a3-478e-8954-2cd68f856951,Perl,Karen,Unknown,3/20/71,Fort Worth,TX,TARRANT,"suit, indem",1.0,1.0
5034,b53c1fbb-ef81-49af-a4e7-f2c33f2c277d,Persson,Perjohan,Male,2/12/75,Lebanon,KY,MARION,"suit, indem",0.0,1.0
5209,d435617f-db5e-4b1a-b023-b4a3beabec08,Raphael,Peter,Unknown,8/17/58,Plano,TX,COLLIN,"suit, indem",0.0,0.0
5707,adcea476-b9a4-4818-ad75-f0fa4b50f20b,Snure,Richard,Unknown,7/1/74,Silver City,NM,GRANT,"suit, indem",1.0,1.0
5794,36e33f6c-4039-4ea5-b7e3-63a2de3ec732,Stimage,Rachenetta,Female,9/1/71,Carrollton,TX,DENTON,"suit, indem",1.0,1.0
5886,41ca3a75-33c9-427b-b66d-f4ab3cb05c85,Tarrant,Lawrence,Unknown,3/10/39,Parkersburg,WV,WOOD,"suit, indem",1.0,1.0
6155,be0ae42f-7869-4f0b-8b97-626fbb77e84d,Walden,Nikki,Female,8/3/71,Dallas,TX,DALLAS,"suit, indem",1.0,1.0
6206,90df2745-c07b-48c6-9aa3-51bf443fc13c,Weaver,Robert,Male,1/8/61,Farmington,NM,SAN JUAN,"suit, indem",1.0,1.0
6249,ca1bc4f1-3602-40df-8b81-afd09b3deb71,Whisenant,Stanley,Male,9/22/65,Rowlett,TX,DALLAS,"suit, indem",1.0,1.0
6288,647d9c30-9e73-41dd-8c43-a542d39dc5ba,Williams,Joseph,Unknown,7/1/42,Saint Louis,MO,SAINT LOUIS,"suit, indem",1.0,0.0
6323,5e5458d6-b22a-440b-9554-2b3ab6bdf5d9,Wilson,Richard,Male,2/28/54,Oklahoma City,OK,OKLAHOMA,"suit, indem",1.0,1.0
6332,b87d9972-73fa-4d69-9b9c-af9c34ee1233,Wise,Jean,Unknown,3/6/45,Hope,AR,HEMPSTEAD,"suit, indem",0.0,0.0
6395,b9448cda-9bda-4a91-adc1-2eca9d639195,Yates,LeRoy,Unknown,5/10/55,Bettendorf,IA,SCOTT,"suit, indem",1.0,1.0
6470,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"suit, indem",NaN,NaN
6471,4da6317d-a891-4b35-8b26-e11c4a9723ea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"suit, indem",1.0,1.0

# Feature engineering

In [141]:
# build age column
joined['Date of Birth'] = pd.to_datetime(joined['Date of Birth'])

In [142]:
# time_delta function
def time_delta(dt):
    if dt.year > 2000:
        dt = dt - timedelta(days=36525)
    return dt

In [143]:
# apply time_delta function to DoB column, deal with datetime rounding to the 2000s
joined['Date of Birth'] = joined['Date of Birth'].apply(lambda dt: time_delta(dt))

In [144]:
# fill missing values with 1/1/2060
joined['Date of Birth'].fillna(datetime(2060, 1, 1, 0, 0),inplace=True)

In [145]:
# build age column
now = datetime.now()
joined['age'] = now - joined['Date of Birth']

In [146]:
def to_years(dt):
    if dt:
        dt = int(dt.strftime("%y"))
    return dt

In [147]:
# TODO: convert days to years in joined['age']
# TODO: drop 1/1/2060 instances
joined['age'] = joined['age'].apply(lambda dt: to_years(dt))

AttributeError: 'Timedelta' object has no attribute 'strftime'

,ProviderId,Last Name,First Name,Gender,Date of Birth,City,State,County,indem_label,board_cert,claims_band,age
0,2b08b6ae-6427-4531-bf5f-51c90685f1df,1,Slot,Unknown,2060-01-01,Auburn,AL,LEE,NaN,NaN,NaN,-15878 days +13:48:57.705595
1,9977d6b0-04eb-4310-be27-8470257da33e,Abalos,Jennifer,Unknown,1972-10-01,Plano,TX,DALLAS,NaN,0.0,0.0,15990 days 13:48:57.705595
2,5ed9f93e-5bf2-4990-bd31-fb0754ae3aec,Abbasi,Noma,Unknown,1971-11-01,Sugar Land,TX,FORT BEND,NaN,1.0,1.0,16325 days 13:48:57.705595
3,949a1121-3f0f-41f2-a6df-b4acc1b64f9a,Abben,Richard,Male,1952-10-11,Houma,LA,TERREBONNE,NaN,1.0,1.0,23285 days 13:48:57.705595
4,6422a3d2-1405-4511-804f-12733e29c412,Abbott,Abraham,Unknown,2060-01-01,nan,nan,nan,NaN,NaN,NaN,-15878 days +13:48:57.705595
5,4c67e308-df98-42ff-b424-06516486d2b4,Abburi,Madhava,Male,1971-02-26,nan,nan,nan,NaN,1.0,1.0,16573 days 13:48:57.705595
6,e35196bd-a7a2-4f07-95e9-4a47775e0ac8,Abdul Rashid,Nik,Unknown,1970-03-30,Las Vegas,NV,CLARK,NaN,1.0,1.0,16906 days 13:48:57.705595
7,f9f98580-e6db-4428-8fab-6563b8574c22,Abdulla,Amina,Female,1946-07-30,Houston,TX,HARRIS,NaN,0.0,1.0,25550 days 13:48:57.705595
8,4590a5c6-a9d8-4b5e-946f-955f7373eade,Aboubaker,Kaiss,Unknown,1973-08-04,Dallas,TX,DALLAS,NaN,0.0,0.0,15683 days 13:48:57.705595
9,805a9da9-be65-45fc-9e7e-77cbe4a37036,Aboyeji,Olufemi,Male,1978-09-26,Schererville,IN,LAKE,NaN,1.0,1.0,13804 days 13:48:57.705595
10,2604e7fd-337c-41e8-9be6-de0968ce1f50,Abraham,Bindu,Male,2060-01-01,nan,nan,nan,NaN,NaN,NaN,-15878 days +13:48:57.705595
11,357475c2-2193-4459-994c-46a20c22c225,Abraham,Jolly,Female,1982-06-24,Katy,TX,HARRIS,NaN,0.0,0.0,12437 days 13:48:57.705595
12,11192bc0-363f-4a62-afad-33a878f930eb,Abreha,Amanuel,Male,1962-08-01,Houston,TX,HARRIS,NaN,0.0,1.0,19704 days 13:48:57.705595
13,e05bae45-095a-47ee-9775-fe4f95d33af5,Abu-Deiab,Mohammed,Male,1984-03-18,Edinburg,TX,HIDALGO,NaN,0.0,0.0,11804 days 13:48:57.705595
14,3f680b56-4748-4ef7-9813-7d89c9d831eb,Achanta,Venkata,Female,1971-09-15,Houston,TX,HARRIS,"sued, no indem",1.0,1.0,16372 days 13:48:57.705595
15,8abdf6af-d946-48b1-b958-36262431d272,Achanta,Venkata,Female,1971-09-15,Houston,TX,HARRIS,NaN,1.0,1.0,16372 days 13:48:57.705595
16,f4755d97-701f-4e7e-a253-84ff7c6f4090,Adams,Carol,Unknown,1972-10-05,Jasper,AL,WALKER,NaN,0.0,1.0,15986 days 13:48:57.705595
17,89e6b5ad-d357-4527-aebd-721555f1ab37,Adams,Curtis,Unknown,1963-03-06,nan,nan,nan,NaN,0.0,0.0,19487 days 13:48:57.705595
18,10fd40c6-d67e-4e29-b9dc-6f94feacd1a8,Adams,Jason,Male,1971-01-19,Gonzales,LA,ASCENSION,NaN,1.0,1.0,16611 days 13:48:57.705595
19,20988f49-5a3b-492d-a349-86f4e50200f2,Adams,Kimberly,Unknown,1963-01-17,Columbia,MO,BOONE,NaN,NaN,NaN,19535 days 13:48:57.705595
20,72836ffc-bae9-4802-b771-a55b080a8a55,Adams,Lisa,Female,1960-08-21,Houston,TX,HARRIS,NaN,0.0,0.0,20414 days 13:48:57.705595
21,d2e215fc-00a5-48ae-9c7a-7851a04d5e75,Adams,Taj,Unknown,2060-01-01,nan,nan,nan,NaN,NaN,NaN,-15878 days +13:48:57.705595
22,a33022e6-c314-4e27-80b2-2afedfca10c9,Adams,Taj Cordell,Unknown,2060-01-01,Bellaire,TX,HARRIS,NaN,NaN,NaN,-15878 days +13:48:57.705595
23,563d2e58-b135-47f3-82eb-1df1795afea6,Adams,Tressa,Unknown,1983-01-04,nan,nan,nan,NaN,0.0,0.0,12243 days 13:48:57.705595
24,41ff3e1b-e217-4c12-bfb6-ca2d88fdb49f,Addison,Candice,Unknown,1981-02-26,Dallas,TX,DALLAS,NaN,0.0,0.0,12920 days 13:48:57.705595
25,622df15f-4e28-4bac-9915-c463f82ff152,Adeniji-Ilesanmi,Grace,Female,1981-04-08,nan,nan,nan,NaN,NaN,NaN,12879 days 13:48:57.705595
26,9592e2fa-7598-48b9-8862-c34dfd4d6a09,Adeniyi,John,Male,1969-02-15,Bridgeport,WV,HARRISON,NaN,1.0,1.0,17314 days 13:48:57.705595
27,fa0885f3-2d60-42d9-a7f8-303c0fb19281,Adeniyi,John,Male,1969-02-15,Bridgeport,WV,HARRISON,NaN,1.0,1.0,17314 days 13:48:57.705595
28,dd267dcb-a723-4ca8-b3d5-820431565e81,Adeniyi,John,Male,1969-02-15,Bridgeport,WV,HARRISON,NaN,1.0,1.0,17314 days 13:48:57.705595
29,e7e1562f-3199-4355-aaf9-ff1c2720f372,Adeniyi,Olatokunbo,Female,1969-05-25,Clarksburg,WV,HARRISON,NaN,1.0,1.0,17215 days 13:48:57.705595
...,...,...,...,...,...,...,...,...,...,...,...,...
6487,4383047c-6b35-45a6-bc99-98741c23dba4,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6488,44948b97-89f2-41bf-9584-f9692395117e,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6489,4f5c9732-e1a3-41e4-9899-bcf4603fd0fd,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6490,5429bffb-d6e7-4773-9b1d-de24e2d4c32b,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6491,5aa0bdeb-9540-496e-8d7d-4241d0fb8d21,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6492,5b31c84d-e2c1-4630-acf2-a052c47aab78,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,1.0,1.0,-15878 days +13:48:57.705595
6493,6e0afdb0-0672-4194-9d75-9193a4d043a8,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,1.0,1.0,-15878 days +13:48:57.705595
6494,6e8d5ace-a2b8-4a2f-a7ae-3db684109c93,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6495,79c1c54a-211d-4fd5-95a2-5a5033116f7f,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,1.0,1.0,-15878 days +13:48:57.705595
6496,7cc8242f-6e55-43c6-9a8a-9dbe9289df0a,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6497,7faba7c9-2788-4f3d-9de2-ec2e2d127a20,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6498,a8ebcfc2-a346-412b-a076-2c8eb56a117b,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6499,ae922e23-704c-4680-b231-7fb474e1e698,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6500,b5903db5-d061-44d4-8b44-e7227efc463a,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6501,b9f3a1de-7e3f-41fa-a823-45d9167f387b,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6502,ba7586ed-98c1-4c3d-ad7e-c1d5140d73c8,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6503,bc890f1b-c17a-4721-9f12-154e9485df5a,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,1.0,1.0,-15878 days +13:48:57.705595
6504,bf194c8c-641f-4bfc-85b8-90d4aa9f8705,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6505,cfec26df-3c2e-423e-8f78-42fa1472e000,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6506,d02f4031-35b0-42b7-8160-162f70410632,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6507,d5d01514-45e9-4215-8eb3-2bb51c44d102,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6508,da6a5007-a42f-48d0-82ac-f48bb93af405,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6509,e5635633-ac19-4e91-bef3-f157552cf47b,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6510,e5d92caa-8462-4638-a647-f84466d77fbc,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6511,edbd5755-3e95-4a14-ba14-50a93158541f,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6512,eef433bd-5bcd-4e13-b0a4-8937f6e05881,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6513,efa8acf0-0882-4bf6-89eb-bca53e646289,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,1.0,0.0,-15878 days +13:48:57.705595
6514,f2c5876b-6511-4c5d-a52a-f27c4ec2ca79,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6515,f68a7c30-8748-409f-b777-c344b9f80a93,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,0.0,0.0,-15878 days +13:48:57.705595
6516,f859070a-7dbf-457a-8297-4a70a9b2386e,NaN,NaN,NaN,2060-01-01,NaN,NaN,NaN,NaN,1.0,1.0,-15878 days +13:48:57.705595