In [705]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
from datetime import datetime
from datetime import timedelta

# Imports and feature selection

In [706]:
# using docs to model
# labels come from claims data 
claims = pd.read_csv('/Users/drewrice/Desktop/capson_csv/Claims.csv')
docs = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ProviderInfo.csv')
prems = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ScheduleOfWrittenPremium.csv')
debs_and_creds_full = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ScheduleOfDebitsAndCredits.csv')

In [707]:
# drop non-essential columns
docs.drop(['Middle Name','Address 1', 'Address 2', 'Zip','Address Type','Practice Start Date'],axis=1,inplace=True)
docs.drop_duplicates(inplace=True)

In [708]:
# grab essential columns for building classifier
indem = claims[['Indemnity_Paid','ProviderId']]

In [709]:
# docs DF, conversion to string
# lower ProviderId
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']] = \
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']].astype(str)
docs['ProviderId'] = docs['ProviderId'].map(lambda x: x if type(x)!=str else x.lower())

In [710]:
# indem DF, conversions to string and float
# lower ProviderId
indem['Indemnity_Paid'] = indem['Indemnity_Paid'].str.replace(r'[$,]', '').astype('float')
indem['ProviderId'] = indem['ProviderId'].astype(str)
indem['ProviderId'] = indem['ProviderId'].str.lower()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [711]:
# def build_classifier_label(item):
#     if item == 0:
#         return 'suit, no indem'
#     if item != 0:
#         return 'suit, indem'

def build_classifier_label(item):
    if item == 0:
        return 1
    if item != 0:
        return 2

In [712]:
indem['indem_label'] = indem['Indemnity_Paid'].apply(lambda item: build_classifier_label(item))

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

# Join docs and indemnity tables, fill NaNs with 'no suit'

In [713]:
joined = pd.merge(docs, indem[['ProviderId', 'indem_label']], how='left', on='ProviderId')
joined.drop_duplicates(inplace=True)

In [714]:
# finish indemnity classifier
# find NaNs in indem_label column, replace with 'no suit'
def indem_label_no_suit(x):
    if type(x) == np.float_: 
        if np.isnan(x): 
#             return 'no suit'
            return 0
        else:
            return x

In [715]:
joined.indem_label = joined.indem_label.apply(lambda item: indem_label_no_suit(item))

In [716]:
joined

,ProviderId,Last Name,First Name,Gender,Date of Birth,City,State,County,indem_label
0,2b08b6ae-6427-4531-bf5f-51c90685f1df,1,Slot,Unknown,NaN,Auburn,AL,LEE,0.0
1,9977d6b0-04eb-4310-be27-8470257da33e,Abalos,Jennifer,Unknown,10/1/72,Plano,TX,DALLAS,0.0
2,5ed9f93e-5bf2-4990-bd31-fb0754ae3aec,Abbasi,Noma,Unknown,11/1/71,Sugar Land,TX,FORT BEND,0.0
3,949a1121-3f0f-41f2-a6df-b4acc1b64f9a,Abben,Richard,Male,10/11/52,Houma,LA,TERREBONNE,0.0
4,6422a3d2-1405-4511-804f-12733e29c412,Abbott,Abraham,Unknown,NaN,nan,nan,nan,0.0
5,4c67e308-df98-42ff-b424-06516486d2b4,Abburi,Madhava,Male,2/26/71,nan,nan,nan,0.0
6,e35196bd-a7a2-4f07-95e9-4a47775e0ac8,Abdul Rashid,Nik,Unknown,3/30/70,Las Vegas,NV,CLARK,0.0
7,f9f98580-e6db-4428-8fab-6563b8574c22,Abdulla,Amina,Female,7/30/46,Houston,TX,HARRIS,0.0
8,4590a5c6-a9d8-4b5e-946f-955f7373eade,Aboubaker,Kaiss,Unknown,8/4/73,Dallas,TX,DALLAS,0.0
9,805a9da9-be65-45fc-9e7e-77cbe4a37036,Aboyeji,Olufemi,Male,9/26/78,Schererville,IN,LAKE,0.0
10,2604e7fd-337c-41e8-9be6-de0968ce1f50,Abraham,Bindu,Male,NaN,nan,nan,nan,0.0
11,357475c2-2193-4459-994c-46a20c22c225,Abraham,Jolly,Female,6/24/82,Katy,TX,HARRIS,0.0
12,11192bc0-363f-4a62-afad-33a878f930eb,Abreha,Amanuel,Male,8/1/62,Houston,TX,HARRIS,0.0
13,e05bae45-095a-47ee-9775-fe4f95d33af5,Abu-Deiab,Mohammed,Male,3/18/84,Edinburg,TX,HIDALGO,0.0
14,3f680b56-4748-4ef7-9813-7d89c9d831eb,Achanta,Venkata,Female,9/15/71,Houston,TX,HARRIS,1.0
15,8abdf6af-d946-48b1-b958-36262431d272,Achanta,Venkata,Female,9/15/71,Houston,TX,HARRIS,0.0
16,f4755d97-701f-4e7e-a253-84ff7c6f4090,Adams,Carol,Unknown,10/5/72,Jasper,AL,WALKER,0.0
17,89e6b5ad-d357-4527-aebd-721555f1ab37,Adams,Curtis,Unknown,3/6/63,nan,nan,nan,0.0
18,10fd40c6-d67e-4e29-b9dc-6f94feacd1a8,Adams,Jason,Male,1/19/71,Gonzales,LA,ASCENSION,0.0
19,20988f49-5a3b-492d-a349-86f4e50200f2,Adams,Kimberly,Unknown,1/17/63,Columbia,MO,BOONE,0.0
20,72836ffc-bae9-4802-b771-a55b080a8a55,Adams,Lisa,Female,8/21/60,Houston,TX,HARRIS,0.0
21,d2e215fc-00a5-48ae-9c7a-7851a04d5e75,Adams,Taj,Unknown,NaN,nan,nan,nan,0.0
22,a33022e6-c314-4e27-80b2-2afedfca10c9,Adams,Taj Cordell,Unknown,NaN,Bellaire,TX,HARRIS,0.0
23,563d2e58-b135-47f3-82eb-1df1795afea6,Adams,Tressa,Unknown,1/4/83,nan,nan,nan,0.0
24,41ff3e1b-e217-4c12-bfb6-ca2d88fdb49f,Addison,Candice,Unknown,2/26/81,Dallas,TX,DALLAS,0.0
25,622df15f-4e28-4bac-9915-c463f82ff152,Adeniji-Ilesanmi,Grace,Female,4/8/81,nan,nan,nan,0.0
26,9592e2fa-7598-48b9-8862-c34dfd4d6a09,Adeniyi,John,Male,2/15/69,Bridgeport,WV,HARRISON,0.0
27,fa0885f3-2d60-42d9-a7f8-303c0fb19281,Adeniyi,John,Male,2/15/69,Bridgeport,WV,HARRISON,0.0
28,dd267dcb-a723-4ca8-b3d5-820431565e81,Adeniyi,John,Male,2/15/69,Bridgeport,WV,HARRISON,0.0
29,e7e1562f-3199-4355-aaf9-ff1c2720f372,Adeniyi,Olatokunbo,Female,5/25/69,Clarksburg,WV,HARRISON,0.0
...,...,...,...,...,...,...,...,...,...
6552,1f07d097-c6a0-49fc-b128-e2c6ca9002d1,Zavala,Jennifer,Unknown,2/18/74,San Antonio,TX,BEXAR,0.0
6553,1b6ae0db-333c-4e5a-a59e-aafe999acfd3,Zaza,Ali,Unknown,12/1/53,nan,nan,nan,0.0
6554,c3ce27f2-4666-4ed1-9895-626f45db0cc1,Zeballos,Jorge,Unknown,NaN,nan,nan,nan,0.0
6555,86374525-d8ae-40d0-8ee3-c05f13f465b7,Zedan,Katrina,Female,7/18/77,Edinburg,TX,BEXAR,0.0
6556,40950b57-ce1a-4628-b3e0-29a47c17108a,Zegar,Amin,Unknown,NaN,nan,nan,nan,0.0
6557,3b14cc1b-f6f6-43cf-a410-7a8e6aaa68a3,Zekam,Nadine,Female,12/8/67,Arlington,TX,TARRANT,0.0
6558,1dd77193-8824-4509-adf6-02d4ce67193d,Zekauskas,Raymond,Male,NaN,Tulsa,OK,OKLAHOMA,0.0
6559,cfbb937d-6e8e-4616-940c-e7b766df7a8f,Zend,Alan,Male,1/7/49,nan,nan,nan,0.0
6560,574ea056-6b08-421f-8421-05fbc8d8ed22,Zerbach,Kathryn,Unknown,4/27/55,Los Alamos,NM,LOS ALAMOS,0.0
6561,adbbbaf9-5e74-4eef-a3d6-f730de226942,Zerbach,Kathryn,Unknown,4/27/55,Los Alamos,NM,LOS ALAMOS,0.0
6562,33d047d5-75e4-4c79-8d3b-bdc72ebffd50,Zereik,Jamal,Unknown,11/21/60,nan,nan,nan,0.0
6563,f47f5f2c-d038-43eb-9622-67bfb261a462,Zesut,Robert,Unknown,NaN,nan,nan,nan,0.0
6564,dba1bc12-478f-4bb5-a52e-ac51fdd02285,Zhan,Maocheng,Unknown,NaN,Gretna,LA,JEFFERSON,0.0
6565,b992e761-8831-44ca-87c4-10bdffce3e7a,Zhan,Maocheng,Unknown,12/27/63,Alexandria,LA,RAPIDES,0.0
6566,cc2e4a64-28dc-454a-83bf-17c286f74143,Zhang,Haibin,Unknown,NaN,Sugar Land,TX,FORT BEND,0.0
6567,f0a7696a-ab45-47db-8d4e-bc5b25c2bba8,Zhang,Tianxiang,Unknown,2/23/62,nan,nan,nan,0.0
6568,3c0ccb56-9b5a-4f2f-bb11-38446db4b532,Zhang,Yimei,Female,7/6/79,Sugar Land,TX,FORT BEND,0.0
6569,0f8d8dd2-7664-4707-865c-bc3fa40e5550,Zhang,Yimei,Female,7/6/79,Sugar Land,TX,FORT BEND,0.0
6570,908aa9ee-1e88-4d42-b1b7-d7dd1e6bbf95,Zhang,Yuanhui,Male,11/15/62,Princeton,WV,MERCER,0.0
6571,341cc188-3da0-4e9e-a07e-eeda499cdea0,Zhang,Yuanhui,Male,11/15/62,Princeton,WV,MERCER,0.0
6572,86e60ded-8d78-4d2a-983b-f3c5a1d2798d,Zibell,Scott,Unknown,12/1/51,Versailles,KY,FLOYD,0.0
6573,a0724f0a-4da7-456a-90e8-dee159c52117,Zimmermann,Claudia,Female,3/1/63,Corpus Christi,TX,NUECES,0.0
6574,8bcd6991-7a3c-4e44-b2c3-202e497fbeff,"Zipperer, Jr.",John,Male,4/22/70,nan,nan,nan,0.0
6575,c10f2de3-ef1a-4a21-8ee3-3b75279d5d7c,Zitwer,Richard,Male,10/13/53,Rio Rancho,NM,SANDOVAL,0.0
6576,992bdf83-3f71-40d0-9397-4f21017cb8e1,Zoch,Janet,Female,6/4/82,Missouri City,TX,FORT BEND,0.0
6577,0467a7cf-5f41-45f0-b70c-8fd4f7998c15,Zohner,Jeffrey,Male,10/19/55,Chesterfield,MO,SAINT LOUIS,0.0
6578,857c4b94-84a5-4133-a815-77608297fbf7,Zollman,Charles,Unknown,4/16/45,Indianapolis,IN,MARION,0.0
6579,07c53fba-b0cf-47db-a982-5dc8a8ac47da,Zueck,Jason,Male,NaN,Fenton,MO,JEFFERSON,0.0
6580,c714f5e4-2c62-4293-b13e-1f899490b680,Zueck,Kristy,Female,NaN,Fenton,MO,JEFFERSON,0.0
6581,31fa9763-264a-4052-97bd-6e6d2ee084f9,Zuniga,Higinio,Unknown,11/10/26,nan,nan,nan,0.0

# Claims data
#### building classifiers for BoardCredit and ClaimsBand, then merging with joined

In [717]:
def build_classifier(item):
    if item == 0:
        return 0
    if item != 0:
        return 1

In [718]:
# resave debs_and_creds with just the desired columns
# NOTE: typo 'RecordKepping'
debs_and_creds = debs_and_creds_full[['ProviderId','BoardCredit','ClaimsBand','Procedures','JCAHO','RecordKepping']]

# lower Provider Id
# reset index required
debs_and_creds['ProviderId'] = debs_and_creds['ProviderId'].map(lambda x: x if type(x)!=str else x.lower())
debs_and_creds.tail()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ProviderId,BoardCredit,ClaimsBand,Procedures,JCAHO,RecordKepping
8458,19d9c4e6-e820-41c4-b398-134e6c0ba410,-55,-220,0,0,0
8459,6398eeea-10af-448f-bd10-364be1d0c90c,0,-8951,0,-2984,0
8460,d54c0b59-08e5-4ed7-ba5a-413b2016b269,-1366,0,0,-1366,-2733
8461,3eacedf6-9173-4a64-89c7-ba8b6e150850,-88,0,0,0,0
8462,ea83f592-67dd-46d5-b15c-9d0738f81c93,0,-258,0,0,0

In [719]:
# group by Provider ID, resave debs_and_creds
debs_and_creds = debs_and_creds.groupby(debs_and_creds['ProviderId']).sum()
debs_and_creds.reset_index(inplace=True)

In [720]:
# use build_classifier to create binary column from BoardCredit & ClaimsBand
debs_and_creds['BoardCredit'] = debs_and_creds['BoardCredit'].apply(lambda item: build_classifier(item))
debs_and_creds['ClaimsBand'] = debs_and_creds['ClaimsBand'].apply(lambda item: build_classifier(item))
debs_and_creds['Procedures'] = debs_and_creds['Procedures'].apply(lambda item: build_classifier(item))
debs_and_creds['JCAHO'] = debs_and_creds['JCAHO'].apply(lambda item: build_classifier(item))
debs_and_creds['RecordKepping'] = debs_and_creds['RecordKepping'].apply(lambda item: build_classifier(item))

In [721]:
joined = pd.merge(joined, debs_and_creds, how='left', on='ProviderId')

# EDA

In [722]:
# print num of doctors in each bucket, using the 
print 'Doctors wih no suits: ', joined[joined['indem_label'] == 0].sort(['Last Name']).shape[0]
print 'Doctors with suits, no indemnity paid: ', joined[joined['indem_label'] == 1].sort(['Last Name']).shape[0]
print 'Doctors with suits, indemnity paid: ', joined[joined['indem_label'] == 2].sort(['Last Name']).shape[0]

Doctors wih no suits:  6147
Doctors with suits, no indemnity paid:  281
Doctors with suits, indemnity paid:  41

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

# Feature engineering

### ~ build age column ~

In [723]:
# convert DoB to datetime object
joined['Date of Birth'] = pd.to_datetime(joined['Date of Birth'])

In [724]:
# time_delta function
def time_delta(dt):
    if dt.year > 2000:
        dt = dt - timedelta(days=36525)
    return dt

In [725]:
# apply time_delta function to DoB column, deal with datetime rounding to the 2000s
joined['Date of Birth'] = joined['Date of Birth'].apply(lambda dt: time_delta(dt))

In [726]:
# fill missing values with 1/1/2060
joined['Date of Birth'].fillna(datetime(2060, 1, 1, 0, 0),inplace=True)

In [727]:
# build age column
now = datetime.now()
joined['age'] = now - joined['Date of Birth']

In [728]:
# function to convert years into days
def to_years(dt):
    if dt:
        dt = (dt.days) / 365.25
    return dt

In [729]:
# apply to_years function to age column
joined['age'] = (joined['age'].apply(lambda dt: to_years(dt))).round()

In [730]:
# refill Date of Birth with NaNs
joined['Date of Birth'].replace(datetime(2060, 1, 1, 0, 0), np.nan, inplace=True)

In [731]:
def refill_age(x):
    if x < 0:
        x = np.nan
    return x

In [732]:
joined['age'] = (joined['age'].apply(lambda dt: refill_age(dt))).round()

In [733]:
joined.corr()

,indem_label,BoardCredit,ClaimsBand,Procedures,JCAHO,RecordKepping,age
indem_label,1.000000,0.131730,0.114054,0.157412,0.191448,0.048830,0.113900
BoardCredit,0.131730,1.000000,0.525431,0.034711,0.434245,0.171050,0.109534
ClaimsBand,0.114054,0.525431,1.000000,0.055314,0.445487,0.224323,0.350789
Procedures,0.157412,0.034711,0.055314,1.000000,-0.001525,-0.032338,0.048823
JCAHO,0.191448,0.434245,0.445487,-0.001525,1.000000,0.269885,0.062431
RecordKepping,0.048830,0.171050,0.224323,-0.032338,0.269885,1.000000,0.003570
age,0.113900,0.109534,0.350789,0.048823,0.062431,0.003570,1.000000