In [47]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

# Imports and feature selection

In [3]:
# using docs to model
# labels come from claims data 
claims = pd.read_csv('/Users/drewrice/Desktop/capson_csv/Claims.csv')
docs = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ProviderInfo.csv')
prems = pd.read_csv('/Users/drewrice/Desktop/capson_csv/ScheduleOfWrittenPremium.csv')

In [4]:
# drop
docs.drop(['Middle Name','Address 1', 'Address 2', 'Zip','Address Type','Practice Start Date'],axis=1,inplace=True)
docs.drop_duplicates(inplace=True)

In [5]:
indem = claims[['Indemnity_Paid','ProviderId']]

In [6]:
# docs DF, conversion to string
# lower ProviderId
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']] = \
docs[['ProviderId','Last Name','First Name','Gender','City','State','County']].astype(str)
docs['ProviderId'] = docs['ProviderId'].map(lambda x: x if type(x)!=str else x.lower())

In [7]:
# indem DF, conversions to string and float
# lower ProviderId
indem['Indemnity_Paid'] = indem['Indemnity_Paid'].str.replace(r'[$,]', '').astype('float')
indem['ProviderId'] = indem['ProviderId'].astype(str)
indem['ProviderId'] = indem['ProviderId'].str.lower()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Join docs and indemnity tables

In [97]:
joined = pd.merge(docs, indem, how='outer', on='ProviderId')
joined.drop_duplicates(inplace=True)

In [93]:
joined[joined['Indemnity_Paid'] == 0].sort(['Last Name'])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,ProviderId,Last Name,First Name,Gender,Date of Birth,City,State,County,Indemnity_Paid
14,3f680b56-4748-4ef7-9813-7d89c9d831eb,Achanta,Venkata,Female,9/15/71,Houston,TX,HARRIS,0.0
47,3c674e64-f9cf-4920-917d-699e337af3d7,Aguilar,Eugenio,Male,6/23/51,Houston,TX,HARRIS,0.0
75,fbb86030-a72a-4ee5-a19e-bd034037da66,Akin,Mark,Unknown,3/29/52,Austin,TX,TRAVIS,0.0
95,4f932cbe-6926-4914-a119-f360fce48e84,Albracht,Jamison,Male,6/20/68,Plano,TX,DALLAS,0.0
105,f4c344b0-cfe5-4dfa-8c88-b81a1d21faa6,Alexie,Ion,Unknown,7/22/62,Las Vegas,NV,CLARK,0.0
118,d839a90f-1cb2-4bea-85c4-a22a67863df0,Aliyar,Pareed,Unknown,1/3/50,Lake Havasu City,AZ,MOHAVE,0.0
129,e9bd3936-21e1-482c-9917-6de882a2bfd5,Alley,Paul,Unknown,4/17/62,Evansville,IN,VANDERBURGH,0.0
388,1bf0ea82-4c1a-41b6-a67d-2278cffdbfc6,Ancillary,MidLevel,Male,NaN,Marlin,TX,FALLS,0.0
1828,7a554fb7-b0e5-4456-90dd-f0912bca0f5e,Ancillary,MidLevel,Male,NaN,Marlin,TX,FALLS,0.0
1929,fecba2c2-5c86-42c8-ba66-1a5614f4633c,Andelin,Paul,Unknown,4/23/56,Aurora,MO,LAWRENCE,0.0
1930,87f3d57b-cf32-45f2-a3ff-83b4e9dea81f,Andelin,Scott,Unknown,4/6/82,Aurora,MO,LAWRENCE,0.0
1943,93886c44-10ed-43ea-a919-8365bfe7b894,Andrade,Nicholas,Male,1/22/84,Tyler,TX,SMITH,0.0
1964,fe8105d3-3fda-4b80-b3a0-96ced8ff0ffc,Arellano,Victor-Hugo,Male,6/22/49,Houston,TX,HARRIS,0.0
1998,ce00a94e-bae0-4845-8d59-219de835aa05,Awasum,Serge-Alain,Male,1/30/70,The Woodlands,TX,MONTGOMERY,0.0
2019,612ae550-3b44-4c69-ad5b-6cf0dca7be81,Baidwan,Christine,Unknown,7/23/82,Mckinney,TX,COLLIN,0.0
2023,73704577-e31e-40ae-83df-bcb5d823d53e,Baker,Jack,Unknown,12/20/58,Friendswood,TX,HARRIS,0.0
2035,f3e239b5-83c8-4764-bf06-7a1b4584d2c1,Ballecer,Conrad,Male,4/8/72,nan,nan,nan,0.0
2051,7c52b9a3-a5f1-4f7c-8b77-9432bedd0f21,Bankhead,Roy,Unknown,1/27/69,Edmond,OK,OKLAHOMA,0.0
2076,3612bf96-56ee-47af-b784-194e2e754ecc,Bart,Gerald,Male,12/3/40,Albuquerque,NM,BERNALILLO,0.0
2077,07759f3c-29ed-4577-bc6d-ca6f7a11db24,Bartel,Daniel,Male,7/10/51,Wichita Falls,TX,WICHITA,0.0
2085,8db637cf-b969-44e5-8302-945428bb8941,Bassett,Ashley,Unknown,3/18/84,Chicago,IL,COOK,0.0
2108,ddf082bd-a393-4920-aa7f-02d370ae41b6,Beck,Charles,Unknown,11/21/67,Indianapolis,IN,MARION,0.0
2113,78e83e32-a9e9-495a-b943-75791c62e8da,Beckett,Christopher,Unknown,8/9/69,Williamson,WV,MINGO,0.0
2129,11715222-9869-4753-9695-14e81991d5e3,Bellanger,Heather,Female,4/28/78,Plano,TX,COLLIN,0.0
2131,467d7025-7ccd-4fdf-9a25-17a6dc464b88,Benavides,Oscar,Male,3/23/56,Laredo,TX,WEBB,0.0
2139,12afbcce-be03-4994-9c27-d5168a247ed4,Benson,Royal,Unknown,2/11/57,Bryan,TX,BRAZOS,0.0
2150,b960659a-bcb8-4c40-b7b2-99c33038446e,Berkman,Eric,Unknown,8/2/62,Bellaire,TX,HARRIS,0.0
2156,52f234ce-8cc6-4e94-a31b-f926cd2a3097,Berliner,Kenneth,Male,1/24/67,Houston,TX,HARRIS,0.0
2170,91f846c8-b076-4298-aaeb-b46500782c4b,Bhateley,Dileep,Male,9/30/63,Marlin,TX,FALLS,0.0
2172,b306c2e1-18ef-40e9-bb79-446c9f525485,Bhatnagar,Pankaj,Unknown,1/18/60,Las Vegas,NV,CLARK,0.0
...,...,...,...,...,...,...,...,...,...
6033,249edc3c-86e2-4999-9606-49b6882c41be,Thomas,Jean,Unknown,12/7/46,nan,nan,nan,0.0
6056,b07ddd69-0d5a-4403-a860-da921228614d,Thrower,Rufus,Male,9/30/51,Little Rock,AR,PULASKI,0.0
6108,ffc00eee-65ac-4691-87a1-894c80dc0c05,Trevino,Carlos,Male,4/10/61,Sidney,MT,RICHLAND,0.0
6143,cf12ff95-0791-4cb5-b308-4ee06be95480,Uhland,Zane,Male,3/21/74,Oklahoma City,OK,OKLAHOMA,0.0
6150,595f5b76-63c2-4d27-83e9-db79a2f73c6c,Urias,Jorge,Male,1/21/54,Las Cruces,NM,DONA ANA,0.0
6167,b4af37ab-c90f-44f5-aded-95305287f797,Van Dongen,Danique,Female,3/24/73,Cypress,TX,HARRIS,0.0
6206,81a16e86-3a85-4d6b-9b34-de97f20d93d4,Venegas,Carlos,Male,6/24/56,Dallas,TX,DALLAS,0.0
6207,e984c7a8-54e9-488a-be01-25ad51f7d5d1,Venegoni,Paolo,Male,12/6/61,Austin,TX,WILLIAMSON,0.0
6211,8b9c7d70-40d5-4f6c-8047-0e3d9e402f72,Venyah,Titus,Male,3/15/63,Katy,TX,FORT BEND,0.0
6232,02c6962c-6ae1-4a7a-9407-a127c33e710f,"Vitenas, Jr.",Povilas,Male,12/23/55,Houston,TX,HARRIS,0.0
6252,5e64cb9e-367b-4c57-92fe-95dbf366013f,Wagenknecht,Dwight,Unknown,4/8/57,nan,nan,nan,0.0
6255,9ab012fa-ad86-4681-aed3-82de78982589,Wagner,Van,Male,NaN,Saint Louis,MO,SAINT LOUIS,0.0
6290,c22d2107-f4bc-4cc8-bb39-dcdf08e43794,Ward,Donald,Unknown,8/9/49,Austin,TX,TRAVIS,0.0
6318,3d702734-ff6a-49ca-b11b-1137a3332b5e,Webster,John,Male,3/22/70,Farmington,NM,SAN JUAN,0.0
6357,ca1bc4f1-3602-40df-8b81-afd09b3deb71,Whisenant,Stanley,Male,9/22/65,Rowlett,TX,DALLAS,0.0
6382,e4b562df-ec1e-4ad3-ab6e-355a879122b2,Wilder,Alfred,Male,4/14/52,Austin,TX,TRAVIS,0.0
6396,647d9c30-9e73-41dd-8c43-a542d39dc5ba,Williams,Joseph,Unknown,7/1/42,Saint Louis,MO,SAINT LOUIS,0.0
6421,74601820-3463-4d91-8159-365909e3c410,"Willits, Jr.",Verne,Male,6/10/43,Channelview,TX,HARRIS,0.0
6432,5e5458d6-b22a-440b-9554-2b3ab6bdf5d9,Wilson,Richard,Male,2/28/54,Oklahoma City,OK,OKLAHOMA,0.0
6437,d5c0e131-3ee0-478e-bec1-bd3f2f470e26,Wilt,Robert,Unknown,NaN,Herrin,IL,WILLIAMSON,0.0
6459,59a8b942-76ac-4fbf-b831-ab06373a1326,Wong,Mitchel,Male,8/9/39,Austin,TX,TRAVIS,0.0
6463,d96ea1d1-519d-41e5-9fa5-019c66af4bdc,Wood,Gregory,Unknown,12/27/64,nan,nan,nan,0.0
6472,c4e83747-5a31-49b0-b34f-ccb204a3c37e,Woods,Malaika,Female,10/28/74,Lees Summit,MO,JACKSON,0.0
6483,7a311f0b-f2ee-431c-908b-68258194a915,Wright,Randall,Male,1/25/66,Bridgeport,TX,WISE,0.0
6509,b9448cda-9bda-4a91-adc1-2eca9d639195,Yates,LeRoy,Unknown,5/10/55,Bettendorf,IA,SCOTT,0.0
6540,e5d31fff-fa7c-46d5-bf52-3e20512c2ddb,Zale,Brian,Male,7/25/54,Sugar Land,TX,FORT BEND,0.0
6541,c5c3acbe-9e32-4bc6-840a-90c0ae478405,Zaleski,Robert,Unknown,4/21/48,Wheeling,WV,OHIO,0.0
6551,04c68e86-8a2b-46a8-b687-b6a5a594a9dd,Zarate,Luis,Male,9/28/49,El Paso,TX,EL PASO,0.0
6239,3cad2a9a-9ee0-42d5-b13e-5fa2b69f53a8,von Bose,Charles,Unknown,2/6/81,Temple,TX,BELL,0.0
6582,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

# Feature engineering

In [98]:
# build age column
joined['Date of Birth'] = pd.to_datetime(joined['Date of Birth'])

In [99]:
# time_delta function
def time_delta(dt):
    if dt.year > 2000:
        dt = dt - timedelta(days=36525)
    return dt

In [100]:
# apply time_delta function to DoB column, deal with datetime rounding to the 2000s
joined['Date of Birth'] = joined['Date of Birth'].apply(lambda dt: time_delta(dt))

In [101]:
# fill missing values with 1/1/2060
joined['Date of Birth'].fillna(datetime(2060, 1, 1, 0, 0),inplace=True)

In [102]:
# build age column
now = datetime.now()
joined['age'] = now - joined['Date of Birth']

In [103]:
joined

,ProviderId,Last Name,First Name,Gender,Date of Birth,City,State,County,Indemnity_Paid,age
0,2b08b6ae-6427-4531-bf5f-51c90685f1df,1,Slot,Unknown,2060-10-21,Auburn,AL,LEE,NaN,-16172 days +10:29:02.017806
1,9977d6b0-04eb-4310-be27-8470257da33e,Abalos,Jennifer,Unknown,1972-10-01,Plano,TX,DALLAS,NaN,15990 days 10:29:02.017806
2,5ed9f93e-5bf2-4990-bd31-fb0754ae3aec,Abbasi,Noma,Unknown,1971-11-01,Sugar Land,TX,FORT BEND,NaN,16325 days 10:29:02.017806
3,949a1121-3f0f-41f2-a6df-b4acc1b64f9a,Abben,Richard,Male,1952-10-11,Houma,LA,TERREBONNE,NaN,23285 days 10:29:02.017806
4,6422a3d2-1405-4511-804f-12733e29c412,Abbott,Abraham,Unknown,2060-10-21,nan,nan,nan,NaN,-16172 days +10:29:02.017806
5,4c67e308-df98-42ff-b424-06516486d2b4,Abburi,Madhava,Male,1971-02-26,nan,nan,nan,NaN,16573 days 10:29:02.017806
6,e35196bd-a7a2-4f07-95e9-4a47775e0ac8,Abdul Rashid,Nik,Unknown,1970-03-30,Las Vegas,NV,CLARK,NaN,16906 days 10:29:02.017806
7,f9f98580-e6db-4428-8fab-6563b8574c22,Abdulla,Amina,Female,1946-07-30,Houston,TX,HARRIS,NaN,25550 days 10:29:02.017806
8,4590a5c6-a9d8-4b5e-946f-955f7373eade,Aboubaker,Kaiss,Unknown,1973-08-04,Dallas,TX,DALLAS,NaN,15683 days 10:29:02.017806
9,805a9da9-be65-45fc-9e7e-77cbe4a37036,Aboyeji,Olufemi,Male,1978-09-26,Schererville,IN,LAKE,NaN,13804 days 10:29:02.017806
10,2604e7fd-337c-41e8-9be6-de0968ce1f50,Abraham,Bindu,Male,2060-10-21,nan,nan,nan,NaN,-16172 days +10:29:02.017806
11,357475c2-2193-4459-994c-46a20c22c225,Abraham,Jolly,Female,1982-06-24,Katy,TX,HARRIS,NaN,12437 days 10:29:02.017806
12,11192bc0-363f-4a62-afad-33a878f930eb,Abreha,Amanuel,Male,1962-08-01,Houston,TX,HARRIS,NaN,19704 days 10:29:02.017806
13,e05bae45-095a-47ee-9775-fe4f95d33af5,Abu-Deiab,Mohammed,Male,1984-03-18,Edinburg,TX,HIDALGO,NaN,11804 days 10:29:02.017806
14,3f680b56-4748-4ef7-9813-7d89c9d831eb,Achanta,Venkata,Female,1971-09-15,Houston,TX,HARRIS,0.0,16372 days 10:29:02.017806
15,8abdf6af-d946-48b1-b958-36262431d272,Achanta,Venkata,Female,1971-09-15,Houston,TX,HARRIS,NaN,16372 days 10:29:02.017806
16,f4755d97-701f-4e7e-a253-84ff7c6f4090,Adams,Carol,Unknown,1972-10-05,Jasper,AL,WALKER,NaN,15986 days 10:29:02.017806
17,89e6b5ad-d357-4527-aebd-721555f1ab37,Adams,Curtis,Unknown,1963-03-06,nan,nan,nan,NaN,19487 days 10:29:02.017806
18,10fd40c6-d67e-4e29-b9dc-6f94feacd1a8,Adams,Jason,Male,1971-01-19,Gonzales,LA,ASCENSION,NaN,16611 days 10:29:02.017806
19,20988f49-5a3b-492d-a349-86f4e50200f2,Adams,Kimberly,Unknown,1963-01-17,Columbia,MO,BOONE,NaN,19535 days 10:29:02.017806
20,72836ffc-bae9-4802-b771-a55b080a8a55,Adams,Lisa,Female,1960-08-21,Houston,TX,HARRIS,NaN,20414 days 10:29:02.017806
21,d2e215fc-00a5-48ae-9c7a-7851a04d5e75,Adams,Taj,Unknown,2060-10-21,nan,nan,nan,NaN,-16172 days +10:29:02.017806
22,a33022e6-c314-4e27-80b2-2afedfca10c9,Adams,Taj Cordell,Unknown,2060-10-21,Bellaire,TX,HARRIS,NaN,-16172 days +10:29:02.017806
23,563d2e58-b135-47f3-82eb-1df1795afea6,Adams,Tressa,Unknown,1983-01-04,nan,nan,nan,NaN,12243 days 10:29:02.017806
24,41ff3e1b-e217-4c12-bfb6-ca2d88fdb49f,Addison,Candice,Unknown,1981-02-26,Dallas,TX,DALLAS,NaN,12920 days 10:29:02.017806
25,622df15f-4e28-4bac-9915-c463f82ff152,Adeniji-Ilesanmi,Grace,Female,1981-04-08,nan,nan,nan,NaN,12879 days 10:29:02.017806
26,9592e2fa-7598-48b9-8862-c34dfd4d6a09,Adeniyi,John,Male,1969-02-15,Bridgeport,WV,HARRISON,NaN,17314 days 10:29:02.017806
27,fa0885f3-2d60-42d9-a7f8-303c0fb19281,Adeniyi,John,Male,1969-02-15,Bridgeport,WV,HARRISON,NaN,17314 days 10:29:02.017806
28,dd267dcb-a723-4ca8-b3d5-820431565e81,Adeniyi,John,Male,1969-02-15,Bridgeport,WV,HARRISON,NaN,17314 days 10:29:02.017806
29,e7e1562f-3199-4355-aaf9-ff1c2720f372,Adeniyi,Olatokunbo,Female,1969-05-25,Clarksburg,WV,HARRISON,NaN,17215 days 10:29:02.017806
...,...,...,...,...,...,...,...,...,...,...
6560,574ea056-6b08-421f-8421-05fbc8d8ed22,Zerbach,Kathryn,Unknown,1955-04-27,Los Alamos,NM,LOS ALAMOS,NaN,22357 days 10:29:02.017806
6561,adbbbaf9-5e74-4eef-a3d6-f730de226942,Zerbach,Kathryn,Unknown,1955-04-27,Los Alamos,NM,LOS ALAMOS,NaN,22357 days 10:29:02.017806
6562,33d047d5-75e4-4c79-8d3b-bdc72ebffd50,Zereik,Jamal,Unknown,1960-11-21,nan,nan,nan,NaN,20322 days 10:29:02.017806
6563,f47f5f2c-d038-43eb-9622-67bfb261a462,Zesut,Robert,Unknown,2060-10-21,nan,nan,nan,NaN,-16172 days +10:29:02.017806
6564,dba1bc12-478f-4bb5-a52e-ac51fdd02285,Zhan,Maocheng,Unknown,2060-10-21,Gretna,LA,JEFFERSON,NaN,-16172 days +10:29:02.017806
6565,b992e761-8831-44ca-87c4-10bdffce3e7a,Zhan,Maocheng,Unknown,1963-12-27,Alexandria,LA,RAPIDES,NaN,19191 days 10:29:02.017806
6566,cc2e4a64-28dc-454a-83bf-17c286f74143,Zhang,Haibin,Unknown,2060-10-21,Sugar Land,TX,FORT BEND,NaN,-16172 days +10:29:02.017806
6567,f0a7696a-ab45-47db-8d4e-bc5b25c2bba8,Zhang,Tianxiang,Unknown,1962-02-23,nan,nan,nan,NaN,19863 days 10:29:02.017806
6568,3c0ccb56-9b5a-4f2f-bb11-38446db4b532,Zhang,Yimei,Female,1979-07-06,Sugar Land,TX,FORT BEND,NaN,13521 days 10:29:02.017806
6569,0f8d8dd2-7664-4707-865c-bc3fa40e5550,Zhang,Yimei,Female,1979-07-06,Sugar Land,TX,FORT BEND,NaN,13521 days 10:29:02.017806
6570,908aa9ee-1e88-4d42-b1b7-d7dd1e6bbf95,Zhang,Yuanhui,Male,1962-11-15,Princeton,WV,MERCER,NaN,19598 days 10:29:02.017806
6571,341cc188-3da0-4e9e-a07e-eeda499cdea0,Zhang,Yuanhui,Male,1962-11-15,Princeton,WV,MERCER,NaN,19598 days 10:29:02.017806
6572,86e60ded-8d78-4d2a-983b-f3c5a1d2798d,Zibell,Scott,Unknown,1951-12-01,Versailles,KY,FLOYD,NaN,23600 days 10:29:02.017806
6573,a0724f0a-4da7-456a-90e8-dee159c52117,Zimmermann,Claudia,Female,1963-03-01,Corpus Christi,TX,NUECES,NaN,19492 days 10:29:02.017806
6574,8bcd6991-7a3c-4e44-b2c3-202e497fbeff,"Zipperer, Jr.",John,Male,1970-04-22,nan,nan,nan,NaN,16883 days 10:29:02.017806
6575,c10f2de3-ef1a-4a21-8ee3-3b75279d5d7c,Zitwer,Richard,Male,1953-10-13,Rio Rancho,NM,SANDOVAL,NaN,22918 days 10:29:02.017806
6576,992bdf83-3f71-40d0-9397-4f21017cb8e1,Zoch,Janet,Female,1982-06-04,Missouri City,TX,FORT BEND,NaN,12457 days 10:29:02.017806
6577,0467a7cf-5f41-45f0-b70c-8fd4f7998c15,Zohner,Jeffrey,Male,1955-10-19,Chesterfield,MO,SAINT LOUIS,NaN,22182 days 10:29:02.017806
6578,857c4b94-84a5-4133-a815-77608297fbf7,Zollman,Charles,Unknown,1945-04-16,Indianapolis,IN,MARION,NaN,26020 days 10:29:02.017806
6579,07c53fba-b0cf-47db-a982-5dc8a8ac47da,Zueck,Jason,Male,2060-10-21,Fenton,MO,JEFFERSON,NaN,-16172 days +10:29:02.017806
6580,c714f5e4-2c62-4293-b13e-1f899490b680,Zueck,Kristy,Female,2060-10-21,Fenton,MO,JEFFERSON,NaN,-16172 days +10:29:02.017806
6581,31fa9763-264a-4052-97bd-6e6d2ee084f9,Zuniga,Higinio,Unknown,1926-11-10,nan,nan,nan,NaN,32752 days 10:29:02.017806
6582,nan,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,0.0,-16172 days +10:29:02.017806
6585,nan,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,125000.0,-16172 days +10:29:02.017806
6586,nan,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,150000.0,-16172 days +10:29:02.017806
6587,nan,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,95000.0,-16172 days +10:29:02.017806
6588,nan,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,7500.0,-16172 days +10:29:02.017806
6591,nan,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,175000.0,-16172 days +10:29:02.017806
6594,nan,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,180000.0,-16172 days +10:29:02.017806
6615,4da6317d-a891-4b35-8b26-e11c4a9723ea,NaN,NaN,NaN,2060-10-21,NaN,NaN,NaN,125000.0,-16172 days +10:29:02.017806

In [107]:
def to_years(dt):
    if dt:
        dt = int(dt.strftime("%y"))
    return dt

In [108]:
joined['age'] = joined['age'].apply(lambda dt: to_years(dt))

AttributeError: 'Timedelta' object has no attribute 'datetime'