In [1]:
import pandas as pd

In [3]:
joined = pd.read_csv('joined')

In [15]:
first_query = pd.read_csv('/Users/drewrice/Desktop/first_query.txt', header=None)
first_query.rename(columns = {0:'First Name',1:'Last Name',2:'State',3:'Zip',4:'Rating'},inplace=True)
first_query.head()

  First Name      Last Name State    Zip  Rating
0   EZDoctor  Virtual Visit    FL  00000     NaN
1     Joseph          Abapo    CA  92505     NaN
2       Mark         Knight    CA  92869     4.0
3         YA             YA    TX  77027     5.0
4     Enenge       Abodjedi    CT  06902     4.0

In [22]:
merged = pd.merge(joined,first_query,on=['First Name','Last Name', 'State'], how='left')

In [23]:
merged['Rating'].value_counts()

5.0    427
4.0    320
3.0     83
1.0     51
Name: Rating, dtype: int64

In [24]:
merged.shape

(2953, 18)